<h1>All posts</h1>
<% @posts.each do |post| %>
  <fieldset>
  <div>New code: <%= link_to post.title, post_path(post)  %></div>
  Old Code: <a href='<%= "posts/#{post.id}" %>'> <%=post.title%> </a>
  </fieldset>
<% end %>
<br>
For each blog, we have the same link but coded in two different ways.